# VSCode settings
.vscode/

# Python virtual environment
.venv/

# Build directory
build/

# Ignore everything in the paper/ directory
paper/*

# But keep these specific files
!paper/paper.pdf
!paper/readme.md